body{
    background-image: url(bg.jpg);
    background-size: cover;
    min-height: 90vh;
    color: #414f57;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 800;
    line-height: 2;
    letter-spacing: 0.2em;
 
 }
p{
    font-weight: 100;
text-transform:lowercase;


}

h1{
        text-align: center;
    margin-top: 11rem;
}

.w3-card-4{
    background-color: honeydew;
    margin-top: 130px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
  
 }

.name{
    text-align: center;
text-transform:uppercase;
    }

.sidebar{
    display:flex;  
    justify-content: center;    
     
    
}

.emailicon{
    display: inline-flex;
    opacity: 0.6;
    }

.gh{
    display: inline-flex;
    opacity: 0.6;
    margin-top: 10px;
        }

.linkedin{
    display: inline-flex;
    opacity: 0.6;
        }

.linkedin:hover,.gh:hover,.emailicon:hover{
    opacity: 1;
}

ul.icons{
      list-style: none;
    display: flex;
    padding-inline-start: 60px;    
}
.row{
border: 3px;
padding: 10px;
}
.column{
	
 width:50%;
 margin: 0% 0% 0% 25%;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 6px;
width:100%;
margin:auto;
    text-align: center;
    background-color: honeydew;
    background: rgba(255, 255, 255, 0.8);
    font-weight: 100;
  }
  .div1{
	
    background-color: whitesmoke;
  }

  .w3-ul{

    font-weight: 100;
    font-size: 10pt;
  }
a.links:hover{

    color:goldenrod;

}

.topnav {
  background-color: #8b95ad;
  overflow: hidden;
opacity:0.2;
text-transform:uppercase;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

	
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5d82d9;
  color: white;
	
}

footer{
position:fixed;
background:#fff;



}